
.element-style {
  background-image: url(https://images.unsplash.com/photo-1593100126453-19b562a800c1?q=80&w=3534&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.btn-primary {
  display: inline-block;
  background-color: #d79716;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
